{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-9">
    <p>{% translate "Published on" %}: {{ vehicle.published_on|date:"l, M jS Y" }}</p>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        {% for pic in vehicle.picture_set.all %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for pic in vehicle.picture_set.all %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ pic.photo.url }}" class="d-block w-100" alt="{{ pic.photo.name }}">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h2>{{ vehicle.title }}</h2>
    <h3>{{ vehicle.price|floatformat:"-3g" }} EUR</h3>
    <div>
      <span class="badge bg-secondary">Year: {{ vehicle.year }}</span>
      <span class="badge bg-secondary">KM: {{ vehicle.km }}</span>
      <span class="badge bg-secondary">Transmission: {{ vehicle.get_transmission_display }}</span>
      <span class="badge bg-secondary">Color: {{ vehicle.color }}</span>
      <span class="badge bg-secondary">Make: {{ vehicle.make.name }}</span>
      <span class="badge bg-secondary">Model: {{ vehicle.vehicle_model.name }}</span>
    </div>
    <div>
      {{ vehicle.description|linebreaks }}
    </div>
  </div>
  <div class="col-3">
    <h4>Shitesi</h4>
    <p class="fs-3">{{ vehicle.author.get_full_name }}</p>
    <figure>
      <img src="{{ vehicle.author.profile.picture.url }}" alt="{{ vehicle.author.get_full_name }}">
    </figure>
    <div class="alert alert-primary" role="alert">
      Tel: <strong>{{ vehicle.author.profile.phone_number }}</strong>
    </div>
    <h5>Address:</h5>
    <address>
      {{ vehicle.author.profile.address }}<br>
      {{ vehicle.author.profile.city }}<br>
      {{ vehicle.author.profile.country }}<br>
      {{ vehicle.author.profile.zip_code }}
    </address>
  </div>
</div>

{% endblock content %}