{% extends "base.html" %}

{% block content %}
<h1>Vehicles</h1>
{% for vehicle in vehicles %}
<p>
    <a href="{% url 'vehicle_detail' pk=vehicle.pk %}">{{ vehicle.title }}</a>
</p>
{% empty %}
<p>No vehicles added yet!!!</p>
{% endfor %}
{% endblock content %}