main > .container {
  padding: 60px 15px 0;
}

.navbar-brand {
  background-color: gold;
  padding-left: 9px;
  padding-right: 9px;
  color: #222;
  border-radius: 9px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .25), inset 0 1px 1px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .1);
}

.navbar-brand > span {
  font-weight: 600;
  color: red;
}

.navbar-brand:hover {
  background-color: yellow;
  color: #000;
}