{% extends "base.html" %}

{% block title %}Sign In - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Sign in</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
{% endblock content %}