{% extends "base.html" %}

{% block title %}{{ user }} - Profile - {{ block.super }}{% endblock title %}

{% block content %}
<h1>User Profile</h1>
<div>
    <img src="{{ user.profile.picture.url }}" alt="{{ user.get_full_name }}">
</div>
<p>Name: {{ user.get_full_name }}</p>
<p>Tel: {{ user.profile.phone_number }}</p>
<address>
    Address:<br>
    {{ user.profile.address }}<br>
    {{ user.profile.city }}<br>
    {{ user.profile.country }}<br>
    {{ user.profile.zip_code }}
</address>
{% endblock content %}