{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% translate "Contact us" %} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>{% translate "Contact us" %}</h1>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% translate "Send message" %}</button>
</form>
{% endblock content %}
