{% extends "base.html" %}

{% block title %}Privacy Policy - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Privacy Policy</h1>
<p>Privacy policy goes here.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio consequuntur earum eos quisquam iusto delectus, esse quo a animi eum veniam non, aut iure sapiente qui accusamus. Nam, veniam sequi!</p>
{% endblock content %}