{% extends "base.html" %}

{% block title %}Terms and Conditions - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Terms and Conditions</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam beatae, ipsa pariatur dolores quis corrupti dolorem necessitatibus ipsam amet nesciunt accusantium cumque velit incidunt, reiciendis eum inventore? Soluta, fuga.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur perspiciatis maxime qui saepe, odit modi earum fugiat, molestias nostrum quo ab minus quis provident magni ipsam officia obcaecati quibusdam nisi!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, laborum provident accusamus rerum veritatis aperiam quaerat corrupti deleniti tempora libero eaque et doloremque cupiditate autem accusantium nobis nihil nesciunt fugiat.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius explicabo sit dignissimos repellat nulla blanditiis magni distinctio consequuntur delectus velit aperiam numquam enim error eveniet esse in deleniti, sapiente nemo!</p>
{% endblock content %}