<!doctype html>{% load static %}
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ndryshe nga merrjep nuk ju rrjep">
    <meta name="author" content="Gledi">
    <title>{% block title %}sterrjep.al{% endblock title %}</title>
    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% endblock styles %}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'vehicle_list' %}">sterrjep<span>.al</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'vehicle_list' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pages:about_us' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'pages:privacy_policy' %}" class="nav-link">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'pages:terms_of_service' %}" class="nav-link">Terms & Conditions</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'pages:contact_us' %}" class="nav-link">Contact Us</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Blog</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link">Welcome <strong>{{ user }}</strong></a>
              </li>
              <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0">
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-body-tertiary">
      <div class="container">
        <span class="text-body-secondary">Copyright &copy; 2023 &mdash; sterrjep.al</span>
      </div>
    </footer>
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    {% endblock scripts %}
  </body>
</html>